article{
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;

  padding: 20px;

  border: 1px solid;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 20px;

  align-items: center;
}

span {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

input{
  width: 230px;
  height: 25px;

  border: 0.5px solid;
  border-radius: 5px;

  padding: 0px 5px;

  outline: none;

}

input:focus {
  border: 1px solid var(--secondary-color);
}

